<h1>User info</h1>
  <div>
    <h3>name<%= @user.name %></h3>
    <h3>introduction<%= image_tag @user.get_profile_image(100,100) %></h3>
    <% if @user == current_user %>
      <p><%= link_to "設定", users_edit_path(user.id) %></p>
    <% end %>
  </div>

<h1>New book</h1>

<h1>Books</h1>

<% @books.each do |book| %>
  <div>
    <%= image_tag book.user.get_profile_image(100,100) %>
    <%= link_to "#{book.title}", book_path(book.id) do %>
    <%= book.body %>

  </div>
<% end %>