<%= flash[:notice] %>

<% if book.errors.any? %>
  <%= book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-10 mx-2 mx-sm-auto">
      
      <h2>User info</h2>
      <%= image_tag user.get_profile_image(150,150) %>
      <table class="table">
        <tbody>
          <tr>
            <td><strong>name</strong></td>
            <td><strong><%= user.name %></strong></td>
          </tr>
          <tr>
            <td><strong>introduction</strong></td>
            <td><strong><%= user.introduction %></strong></td>
          </tr>
      </tbody>
    </table>
      
      <% if user == current_user %>
        <li class="btn btn-md btn-block btn-outline-secondary mb-5">
          <%= link_to edit_user_path(user.id) do %>
            <i class="fa-solid fa-user-gear"></i>
          <% end %>
        </li>
      <% end %>
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-10 mx-2 mx-sm-auto">
      <h2>New book</h2>
      <div class="book">
        <%= form_with model: book do |f| %>
          <p>Title</p>
          <%= f.text_field :title, class: "form-control" %>
          <p>Opinion</p>
          <%= f.text_area :body, class: "form-control" %>
          <br>
          <%= f.submit 'Create Book', class: "btn btn-success mt-2 mb-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

